body {
	padding: 0;
	margin: 0;
	line-height: 0;
}

.image {
	width: 100%;
	display:-moz-box; /* Firefox */
	display:-webkit-box; /* Safari and Chrome */
	display:box;
}

.sd-1 {
	width: 167px;
}

.sd-2 {
	width: auto;
	-webkit-flex: 50;
	-webkit-box-flex: 20;
}
.sd-2 img {
	width: 100%;
}

.sd-3 {
	width: 58px;
}

.text {
	width: 560px;
	margin: 0 auto;
}
.text img {
	width: 100%;
}

@media screen and (max-width: 560px) {
	.text {
		width: 100%;
	}
}



/*

.sd {
   height: 502px;
   float: left;
   margin: 3em 0; 
}
@media all and (min-height:600px) {
    .sd {
        margin-top: 2em;
    }
}
.sd img {
    display: block;
}
.sd.sd-1 {
	width: 29%;
}
.sd.sd-1 img {
    float: right;
}
.sd.sd-2 {
    width: 59%;
}
.sd.sd-2 img {
    width: 100%;
}
.sd.sd-3 {
	width: 12%;
}


*/