body {
	padding: 0;
	margin: 0;
	line-height: 0;
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAHlBMVEXu4rvt4rvt4brt4bnt4bvt4Lns4Lns4bns4brs4Lr5a6vtAAAAfklEQVR42n3M0Q6AIAxDUXQ44f9/2BlCmlHoXs9dy7zrv3s5M0te9wF8H2i3yeGnQLvBT8FguAjYZ1DFwFOGnwbcS/g58AjgHDgF5Ah44HUKyBHwQLgMmudg5XAVtN5TID0CdhnAESQOVwEcATkF2r2QUyAdQRuuAjgH+OfgAzJxDpnyiiqFAAAAAElFTkSuQmCC');
	height: 100vh;
	width: 100vw;
}

.wall {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figure {
	position: relative;
	width: 100%;
	margin: 0;
}

.image {
	width: 100%;
	display: flex;
}

.ceci {
  flex: 0 0 167px;
}

.n-est-pas {
	flex: 1 1 auto;
}

.n-est-pas img {
	width: 100%;
}

.une-pipe {
	flex: 0 0 57px;
}

.trahison {
	width: 366px;
	margin: 0 auto;
}

.trahison img {
	width: 100%;
}

@media screen and (max-width: 366px) {
	.trahison {
		width: 100%;
	}
}

#signature {
	position: absolute;
	right: 0;
	top: 307px;
}

footer {
	display: none;
}