body {
	padding: 0;
	margin: 0;
	line-height: 0;
	background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAHlBMVEXu4rvt4rvt4brt4bnt4bvt4Lns4Lns4bns4brs4Lr5a6vtAAAAfklEQVR42n3M0Q6AIAxDUXQ44f9/2BlCmlHoXs9dy7zrv3s5M0te9wF8H2i3yeGnQLvBT8FguAjYZ1DFwFOGnwbcS/g58AjgHDgF5Ah44HUKyBHwQLgMmudg5XAVtN5TID0CdhnAESQOVwEcATkF2r2QUyAdQRuuAjgH+OfgAzJxDpnyiiqFAAAAAElFTkSuQmCC');
}

article {
    position: relative;
}

.image {
	width: 100%;
	display: -moz-box;
	display: -webkit-box;
	display:box;
}

.ceci {
	width: 167px;
}

.n-est-pas {
	flex: 50;
	box-flex: 50;
	-moz-flex: 50;
	-moz-box-flex: 50;
	-webkit-flex: 50;
	-webkit-box-flex: 50;
}

.n-est-pas img {
	width: 100%;
}

.une-pipe {
	width: 57px;
}

.trahison {
	width: 366px;
	margin: 0 auto;
}

.trahison img {
	width: 100%;
}

@media screen and (max-width: 366px) {
	.trahison {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
    article {
        margin-top: 240px;
    }
}

@media screen and (min-width: 1024px) {
    article {
        margin-top: 160px;
    }
}

@media screen and (min-width: 1200px) {
    article {
        margin-top: 180px;
    }
}

#signature {
	position: absolute;
	right: 0;
	top: 307px;
}

footer {
	display: none;
}